@model List<TomasosPizzeria.Models.Matratt>



<div id="menu"><h3><a asp-controller="Order" asp-action="OrderingDishes">Back to Main Menu</a></h3></div>

    <div class="card" id="sentOrder">
        <h2>Thanks for the order.</h2>

        <h2>Your order has been sent Successfully!!!</h2>
    </div>

