
@model List<TomasosPizzeria.Models.Bestallning>

<div id="menu">
    <h2><a asp-controller="Order" asp-action="OrderingDishes">Back to Main Menu</a></h2>
</div>

    <div class="card" id="update">


        <h2>Your Account has been Updated Successfully!!!</h2>
    </div>

    <form>

        @*@foreach (var ordData in Model)
            {


            <p> @ordData.BestallningDatum</p>
              <p>@ordData.Totalbelopp</p>
              <p>@ordData.Levererad</p>

            }*@



    </form>